In [16]:
#Устанавливаем pySpark
!pip install pyspark >> None

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd

In [18]:
spark = SparkSession.builder \
    .appName("Find_Employees_With_Higher_Salary") \
    .getOrCreate()

data = {'id': [1, 2, 3, 4], 'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary': [70, 80, 60, 90], 'ManagerId': [3, 4, None, None]}

df = spark.createDataFrame(pd.DataFrame(data))

df = df.withColumn("Salary", col("Salary").cast("int"))

In [19]:
joined_df = df.alias("employees").join(df.alias("managers"), col("employees.ManagerId") == col("managers.id"), "left")

result_df = joined_df.filter(col("employees.Salary") > col("managers.Salary"))

In [21]:
result_names = result_df.select("employees.Name").distinct()
result_names.show(truncate=False)

+----+
|Name|
+----+
|Joe |
+----+

In [22]:
spark.stop()