In [ ]:
!pip install pyspark >> None

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

In [32]:
spark = SparkSession.builder \
    .appName("BooksAnalysis") \
    .getOrCreate()

df = spark.read.csv("books.csv", header=True)

In [26]:
df.show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|              '1984'|      George Orwell|Science Fiction| 5000|1949|
|The Lord of the R...|     J.R.R. Tolkien|        Fantasy| 3000|1954|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|The Catcher in th...|      J.D. Salinger|          Novel| 2000|1951|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

In [33]:
#Фильтрация данных для книг с продажами более 3000 экземпляров
df_filtered = df.filter(col("sales") > 3000)

In [34]:
df_filtered.show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|              '1984'|      George Orwell|Science Fiction| 5000|1949|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

In [41]:
#Группировка данных по жанру и вычисление общего объема продаж для каждого жанра по всем данным
genre_sales = df.groupBy("genre").agg({"sales": "sum"})

In [42]:
genre_sales.show()

+---------------+----------+
|          genre|sum(sales)|
+---------------+----------+
|Southern Gothic|    4000.0|
|          Novel|    6500.0|
|        Fantasy|    3000.0|
|Science Fiction|    5000.0|
+---------------+----------+

In [43]:
#Сортировка данных по общему объему продаж в порядке убывания
sorted_genre_sales = genre_sales.orderBy("sum(sales)", ascending=False)

In [44]:
sorted_genre_sales.show()

+---------------+----------+
|          genre|sum(sales)|
+---------------+----------+
|          Novel|    6500.0|
|Science Fiction|    5000.0|
|Southern Gothic|    4000.0|
|        Fantasy|    3000.0|
+---------------+----------+

In [45]:
spark.stop()